<a href="https://colab.research.google.com/github/ktanigoo/INFO254/blob/master/Pre_Lab_3_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 3 - Decision Trees

## Agenda

- lambda functions
- pandas `map`, `apply`
- itertools and counters
- classifiers (estimators) from sklearn

In [0]:
import itertools
from collections import Counter
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

### Motivation behind using lambdas with decision trees
### Motivation for enumerating sets (refer to gini/slides)

#### Lambda Function Review

Lambda's are one line functions that are not named. Write a function to find the reciprocal of a number.

#### Map and Apply in Pandas

- find the reciprocal of column 'E'
- find the reciprocal of all columns
- find the mean of all columns
- find the mean of each row

In [0]:
dummy_data = pd.DataFrame(np.random.randint(1,100,size=(100, 5)), columns=list('ABCDE'))

dummy_data.head()

    A   B   C   D   E
0   1  40  68  99  62
1  86  36  22  62  20
2  54  69  91  83  33
3  95  76  79  72  68
4  91  83  66  31  89

In [0]:
# Your code

#### Itertools and counters

- iterable
- chain
- combinations

In [0]:
i = iter(range(7)) 

print(next(i))
print(next(i))

i

0
1

In [0]:
#for combo in itertools.combinations(i, 3):
 #   print(combo)
    
#list(itertools.combinations(i, 3))


#list(itertools.chain.from_iterable(itertools.combinations(i, 3)))

Write a function to get the power set of a list. You can assume that it will fit in memory.

In [0]:
def power_set(s="abcd"):   
  # Your code

power_set("abcd")

IndentationError: ignored

#### Basic classification using sklearn

In [0]:
dummy_data["target"] = np.random.randint(0,2,size=(100,))

X = dummy_data[["A","B","C","D"]]
y = dummy_data.target

clf = DecisionTreeClassifier(max_depth=4)

clf = clf.fit(X, y)
y_pred = clf.predict(X)

print(accuracy_score(y, y_pred))

0.72

In [0]:
print(y_pred)

[0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0
 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0]